@if (!isloading){
<div class="custom-dialog-container" cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <h4>{{ operacion }}</h4>
  <form [formGroup]="formViaje" class="p-3">
    <!-- Primera fila -->
    <div class="row g-3 mb-3">
      <div class="col-2">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Nro</mat-label>
          <input matInput formControlName="nroviaje"
            style="text-align: center"/>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field class="w-100" appearance="fill"> 
            <input #fechaviaje matInput #inputFocus [matDatepicker]="picker"  
                  placeholder = "Elija una fecha" 
                  (dateChange)="onFechaChange($event)"
                  formControlName="fecha" > 
            <mat-datepicker-toggle  matSuffix [for]="picker" > </mat-datepicker-toggle> 
            <mat-datepicker #picker> </mat-datepicker>  
            <mat-hint>{{ formViaje.controls['fecha'].value | date : "dd/MM/yyyy HH:mm"}}</mat-hint> 
        </mat-form-field >
      </div>
      <div class="col-3">         
            <mat-checkbox 
                formControlName="fact"
                [checked]="formViaje.controls['fact'].value==1"             
                >Fact.Tpte
            </mat-checkbox>
        </div> 
        <div class="col-3">         
            <mat-checkbox 
                formControlName="facc"
                [checked]="formViaje.controls['facc'].value==1"
                
                >Fact.Cliente
            </mat-checkbox>
        </div> 
     </div>

    <!-- Segunda fila -->
    <div class="row g-3 mb-3">
      <div class="col-md-4">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Chofer</mat-label>
          <mat-select
            formControlName="idChofer"
            (selectionChange)="onSelectionChofer($event)">
            @for (chofer of cchoferes; track chofer.idChofer) {
              <mat-option [value]="chofer.idChofer">
                {{ chofer.nombre+" - "+chofer.idChofer }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Cliente</mat-label>
          <mat-select
            formControlName="idCliente"
            (selectionChange)="onSelectionCliente($event)">
            @for (cliente of cclientes; track cliente.idCliente) {
              <mat-option [value]="cliente.idCliente">
                {{ cliente.nombre+" - "+cliente.idCliente }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Camion</mat-label>
          <mat-select
            formControlName="idCamion"
            (selectionChange)="onSelectionCamion($event)">
            @for (camion of ccamiones; track camion.idCamion) {
              <mat-option [value]="camion.idCamion">
                {{ camion.domChasis+" - "+camion.idCamion }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!-- Tercera fila -->
    <div class="row g-3 mb-3">      
      <div class="col-md-4">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Origen</mat-label>
          <input matInput formControlName="origen"/>        
        </mat-form-field>
      </div>
     <div class="col-md-4">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Destino</mat-label>
          <input matInput formControlName="destino"/>        
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>CTG</mat-label>
          <input matInput formControlName="ctg"/>        
        </mat-form-field>
      </div>
      
    </div>
    <!-- Cuarta fila -->
    <div class="row g-3 mb-3">      
      <div class="col-md-4">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Cant.KM</mat-label>
          <input matInput appImporte formControlName="cantkm"         
             (blur)="onBlurCantKm($event)"
             style="text-align: right;"/>        
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Carga (Toneladas)</mat-label>
          <input matInput appImporte formControlName="cargaton"
              style="text-align: right;"/>         
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Tarifa Plena</mat-label>
          <input matInput appImporte formControlName="tarifap"         
             (blur)="onBlurTarifaP($event)"
             style="text-align: right;"/>        
        </mat-form-field>
      </div>
    </div>
    <!-- Quinta fila -->
    <div class="row g-3 mb-3">      
      <div class="col-md-4">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Litros Gasoil</mat-label>
          <input matInput appImporte formControlName="ltsgasoil"  
              style="text-align: right;"/>  
          </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Importe Neto</mat-label>
          <input matInput [readonly]="true"
                 [value]="formViaje.get('impneto')?.value | number :'1.2-2'"
                 style="text-align: right;">	
         </mat-form-field>   
      </div>
      <div class="col-md-4">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Importe del Viaje</mat-label>
          <input matInput [readonly]="true"                
              [value]="formViaje.get('impviaje')?.value | currency:'$ ':'symbol':'1.2-2'"
                 style="text-align: right;">	
         </mat-form-field>   
      </div>
    </div>
  

    <!-- Botonera -->
    <div class="botonera">
      <button
        class="btn btn-outline-primary"
        [disabled]="formViaje.invalid || data.accion != 'A'"
        (click)="AgregarViaje()"
      >
        Agregar
      </button>
      <button
        class="btn btn-outline-success"
        [disabled]="formViaje.invalid || data.accion != 'M'"
        (click)="ModificarViaje()"
      >
        Modificar
      </button>
      <button
        class="btn btn-outline-secondary"
        (click)="Anular()"
      >
        Cancelar
      </button>
    </div>       
  </form>
</div>
}