
h4 {
    background-color:lightblue;
    text-align: center;
}
.mat-mdc-form-field {
  --mdc-filled-text-field-container-color: lightblue;
}
.custom-dialog-container {

  background-color:lightgray;  /*quita el fondo blanco */
  border-radius: 0px;
}
.botonera {    
    background-color:lightgray;
    display: flex;
    justify-content:space-around;
    margin-top   : 10px;
    margin-bottom: 10px;
    width: 100%
}