@if (isloading){  
  <div style="padding:20px">Cargando...</div>
} @else {
<div class="custom-dialog-container" cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <h4>{{ operacion }}</h4>
  <form [formGroup]="formFaccl" class="p-3">
    <!-- Primera fila -->
    <div class="row">
      <div class="col-2">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Nro</mat-label>
          <input matInput formControlName="idFactura"
            style="text-align: center"/>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Nro.de Factura</mat-label>
          <input
            matInput formControlName="nrofactura"
            style="text-align: left"
          />
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>FAC/NDC</mat-label>
          <input matInput 
                 formControlName="facndc" />
        </mat-form-field>
      </div>
    </div>

    <!-- Segunda fila -->
    <div class="row g-3 mb-1">
      <div class="col-4">
        <mat-form-field class="w-100" appearance="fill"> 
            <input #fechaviaje matInput #inputFocus [matDatepicker]="picker"  
                  placeholder = "Elija una fecha" 
                  (dateChange)="onFechaChange($event)"
                  formControlName="fecha" > 
            <mat-datepicker-toggle  matSuffix [for]="picker" > </mat-datepicker-toggle> 
            <mat-datepicker #picker> </mat-datepicker>  
            <mat-hint>{{ formFaccl.controls['fecha'].value | date : "dd/MM/yyyy HH:mm"}}</mat-hint> 
        </mat-form-field >
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Cliente</mat-label>
          <mat-select
            formControlName="idCliente"
            (selectionChange)="onSelectionCliente($event)"
          >
            @for (cliente of cclientes; track cliente.idCliente) {
              <mat-option [value]="cliente.idCliente">
                {{ cliente.nombre+" - "+cliente.idCliente }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>  
    </div>         
    <!-- Tercera fila -->
    <div class="row g-3 mb-1">      
      <div class="col-md-3">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Importe Neto</mat-label>
          <input matInput readonly="true"
                 [value]="formFaccl.get('impneto')?.value  | number : '1.2-2'"
                 style="text-align: right"
          />        
        </mat-form-field>
      </div>
      
      <div class="col-md-3">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Importe IVA</mat-label>
          <input matInput readonly="true" 
                 [value]="formFaccl.get('impiva')?.value | number : '1.2-2'"
                 style="text-align: right"
          />        
        </mat-form-field>
      </div>
      </div>
      <!-- Tercera fila -->
      <div class="row g-3 mb-1">      
       <div class="col-md-3">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Total Factura</mat-label>
          <input matInput readonly="true" 
                 [value]="formFaccl.get('totalfac')?.value | number :'1.2-2'"
                 style="text-align: right"
          />        
        </mat-form-field>
      </div>
      
      <div class="col-md-3">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Cant.Items</mat-label>
          <input matInput readonly="true" formControlName="cantit"
              style="text-align: right"    
          />        
        </mat-form-field>
      </div>
       <div class="col-md-3">
          <button class="btn btn-sm btn-primary add-button" (click)="agItemFaccl()"
             [disabled]="formFaccl.invalid || data.accion != 'A'">
            <i class="bi bi-plus-circle me-1"></i>Agregar Item Factura
          </button>
        </div>
    </div>
    @if (cdetfaccl){
      <div class="table-container" style="overflow-x: auto">
        <div>Detalle de Factura</div>      
        <table mat-table class="mat-elevation-z8" [dataSource]="this.cdetfaccl">
                       
              <ng-container matColumnDef="nroitem">
                <th mat-header-cell *matHeaderCellDef>Item</th>
                
                <td mat-cell *matCellDef="let renit">
                  {{ renit.nroitem }}
                </td>
              </ng-container>             
        
             <ng-container matColumnDef="idViaje">
               <th mat-header-cell *matHeaderCellDef>Viaje</th>
              
               <td mat-cell *matCellDef="let renit">
                 {{  renit.idViaje }}
               </td>
             </ng-container>
             <ng-container matColumnDef="origen">
               <th mat-header-cell *matHeaderCellDef>Origen</th>
                
               <td mat-cell *matCellDef="let renit">
                  {{ renit.origen }}
               </td>
            </ng-container>
            <ng-container matColumnDef="destino">
              <th mat-header-cell *matHeaderCellDef>Destino</th>
             
              <td mat-cell *matCellDef="let renit">
                {{ renit.destino }}
              </td>
            </ng-container>
           
            <ng-container matColumnDef="cantkm">
              <th mat-header-cell *matHeaderCellDef>Cant. KM</th>
             
              <td mat-cell *matCellDef="let renit" >
                {{  renit.cantkm }}
              </td>
            </ng-container>

            <ng-container matColumnDef="ltsgasoil">
              <th mat-header-cell *matHeaderCellDef>Lts.Gasoil</th>
             
              <td mat-cell *matCellDef="let renit"
                 style="text-align: right" >
                {{  renit.ltsgasoil }}
              </td>
            </ng-container>

            <ng-container matColumnDef="totalitem">
              <th mat-header-cell *matHeaderCellDef>Total Item</th>
              
              <td mat-cell *matCellDef="let renit" >
                {{ renit.totalitem | number : "1.2-2" }}
              </td>
            </ng-container>
            <!-- Columna Modificar -->
            <ng-container matColumnDef="M">
              <th mat-header-cell *matHeaderCellDef>Mod</th>
              
              <td mat-cell *matCellDef="let renit">
                <div class="text-center">
                   <button
                     mat-icon-button
                     class="action-btn"
                     title="modificar item de factura"                     
                     (click)="verItemFactp(renit.nroitem)"
                    >
                   <i class="bi bi-search"></i>
                   </button>
                </div>
              </td>
            </ng-container>
         
          <tr mat-header-row *matHeaderRowDef="colDFaccl"></tr>
          <tr mat-row *matRowDef="let row; let index; columns: colDFaccl"></tr>          
      </table>    
    </div>   
    }   
  

    <!-- Botonera -->
    <div class="botonera">
      <button
        class="btn btn-sm btn-outline-primary"
        [disabled]="formFaccl.invalid || cdetfaccl.length === null || cdetfaccl.length === 0 || data.accion != 'A'"
        (click)="GrabarFacturaCL()"
      >
        Agregar Factura 
      </button>
       <!--button
          class="btn btn-sm btn-outline-warning"        
          (click)="getUltCompAfip()"
      >
        Autenticar AFIP 
      </button-->   
      <button
        class="btn btn-sm btn-outline-secondary"
        (click)="Anular()"
      >
        Cancelar
      </button>
    </div>
    @if (formFaccl.get('facndc')?.errors?.['pattern']){
     <div style="color: red;">El valor debe ser exactamente FAC o NDC.</div>     
    }    
     
  </form>
</div>
}
