
@if (!isloading){
<div class="custom-dialog-container" cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <h4>{{ operacion }}</h4>

  <form [formGroup]="formChofer" class="p-3">
    <!-- Primera fila -->
    <div class="row g-3 mb-3">
      <div class="col-2">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Nro</mat-label>
          <input
            matInput
            readonly
            formControlName="nrochof"
            style="text-align: center"
          />
        </mat-form-field>
      </div>
      <div class="col-8">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Nombre del Chofer</mat-label>
          <input
            matInput
            #nombre
            #inputFocus
            formControlName="nombre"
            style="text-align: left"
          />
        </mat-form-field>
      </div>
    </div>

    <!-- Segunda fila -->
    <div class="row g-3 mb-3">
      <div class="col-md-4">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Domicilio</mat-label>
          <input matInput formControlName="domicilio" />
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Localidad</mat-label>
          <input matInput formControlName="localidad" />
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Teléfono</mat-label>
          <input matInput formControlName="telefono" />
        </mat-form-field>
      </div>
    </div>

    <!-- Tercera fila -->
    <div class="row g-3 mb-3">
      <div class="col-md-4">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Cuit</mat-label>
          <input matInput formControlName="cuit"
              cuitFormat
              />
        
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Nro.Doc</mat-label>
          <input matInput formControlName="nrodoc" />
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Empresa de Transporte</mat-label>
          <mat-select
            formControlName="nroempresa"
            (selectionChange)="onSelectionEmpresa($event)"
          >
            @for (empresa of cempresas; track empresa.idEmpresa) {
              <mat-option [value]="empresa.idEmpresa">
                {{ empresa.nombre }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row g-3 mb-4">
       <div class="col-md-12">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Camión</mat-label>
          <mat-select
            formControlName="idCamion"
            (selectionChange)="onSelectionCamion($event)"
          >
            @for (camion of ccamiones; track camion.idCamion) {
              <mat-option [value]="camion.idCamion">
                {{ camion.descrip }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <!-- Cuarta fila -->
    <div class="row g-3 mb-4">
      <div class="col-12">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Notas</mat-label>
          <input matInput formControlName="notas" />
        </mat-form-field>
      </div>
    </div>

    <!-- Botonera -->
    <div class="botonera">
      <button
        class="btn btn-outline-primary"
        [disabled]="formChofer.invalid || data.accion != 'A'"
        (click)="AgregarChofer()"
      >
        Agregar
      </button>
      <button
        class="btn btn-outline-success"
        [disabled]="formChofer.invalid || data.accion != 'M'"
        (click)="ModificarChofer()"
      >
        Modificar
      </button>
      <button
        class="btn btn-outline-secondary"
        (click)="Anular()"
      >
        Cancelar
      </button>
    </div>
    @if(formChofer.controls['cuit'].hasError('cuitFormato')){
    <div class="menserror">    
         El CUIT debe tener 11 dígitos    
    </div>
    }
    @if(formChofer.controls['cuit'].hasError('cuitPrefijo')){
    <div class="menserror">
       Prefijo de CUIT inválido
    </div>
    }
    @if(formChofer.controls['cuit'].hasError('cuitInvalido')){
    <div class="menserror">
         El CUIT no es válido
    </div>
    }
    
  </form>
</div>
}