@if (isloading){  
  <div style="padding:20px">Cargando...</div>
} @else {
<div class="custom-dialog-container" cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <h4>{{ operacion }}</h4>
  <form [formGroup]="formItfac" class="p-3">
    <!-- Primera fila -->
    <div class="row g-3 mb-1">
      <div class="col-md-2">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Nro Item</mat-label>
          <input matInput readonly="true" formControlName="nroitem"
            style="text-align: center"/>
        </mat-form-field>
      </div>     

      <div class="col-md-8">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Viajes de {{data.nomcli}}</mat-label>
          <mat-select
            formControlName="idViaje"
            (selectionChange)="onSelectionViaje($event)">
            @for (viaje of cviajes; track viaje.idViaje) {
              <mat-option [value]="viaje.idViaje">
                {{ viaje.idViaje+" - "+viaje.origen+"-"+viaje.destino }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <!-- Segunda Fila -->
    <div class="row g-3 mb-1">
      <div class="col-md-2">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Chofer</mat-label>
          <input matInput readonly="true" formControlName="nomchofer"
            style="text-align: left"/>
        </mat-form-field>
      </div>     
    </div>
    <!-- Tercera Fila -->
    <div class="row g-3 mb-1">
       <div class="col-md-4">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Origen</mat-label>
          <input matInput readonly="true" formControlName="origen"
            style="text-align: center"/>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Destino</mat-label>
          <input matInput readonly="true" formControlName="destino"
            style="text-align: center"/>
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Tarifa Viaje</mat-label>
          <input matInput readonly="true" formControlName="tarifa"
           [value]="formItfac.get('tarifa')?.value | currency:'ARS':'symbol':'1.2-2'"
            style="text-align: right"/>
        </mat-form-field>
      </div>
    </div>
    <!-- Cuarta Fila   -->
    <div class="row g-3 mb-1">      
      <div class="col-md-4">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Carga (Ton)</mat-label>
          <input matInput readonly="true" formControlName="cargaton"           
            style="text-align: center"/>
        </mat-form-field>
      </div>
        <div class="col-md-4">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Cant.KM</mat-label>
            <input matInput readonly="true" formControlName="cantkm"           
              style="text-align: center"/>
          </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Litros Gasoil</mat-label>
          <input matInput readonly="true" formControlName="ltsgasoil"           
            style="text-align: center"/>
        </mat-form-field>
      </div>
    </div>
    <!-- Quinta Fila -->
    <div class="row g-3 mb-1">    
       <div class="col-md-4">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Importe Neto</mat-label>
          <input matInput readonly="true" formControlName="impneto"
           [value]="formItfac.get('impneto')?.value | currency:'ARS':'symbol':'1.2-2'"
            style="text-align: right"/>
        </mat-form-field>
      </div>
                  
      <div class="col-md-4">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Importe IVA</mat-label>
          <input matInput readonly="true" formControlName="impiva"
           [value]="formItfac.get('impiva')?.value | currency:'ARS':'symbol':'1.2-2'"
            style="text-align: right"/>
        </mat-form-field>        
      </div>
      <div class="col-md-4">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Importe Item</mat-label>
          <input matInput readonly="true" formControlName="totalitem"
           [value]="formItfac.get('totalitem')?.value | currency:'ARS':'symbol':'1.2-2'"
            style="text-align: right"/>
        </mat-form-field>
      </div>
    </div>    
     <!-- Botonera -->
    <div class="botonera">
      <button
        class="btn btn-outline-primary"
        [disabled]="formItfac.invalid || data.accion != 'A'"
        (click)="retornarItemFactp()"
      >
        Agregar Item 
      </button>
   
      <button
        class="btn btn-outline-success"        
        (click)="aceptarItemFactp()"
       >
         &lt;&lt; Volver
      </button>
     
    </div>  
  </form>
</div>
}
